version: 2

jobs:
  build:
    environment:
      TOXENV: py27,py34,py35,py36
    working_directory: ~/loofah
    docker:
      - image: themattrix/tox
    steps:
      - checkout
      - run: rm .python-version && tox
